:root{
    --decoration_color: rgba(11,9,121,1);
}

.products{
    width: 60%;
    margin: 20px auto;
}

.products .all_products {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center ;
    gap: 10px;
    height: 90vh;
    overflow-y: auto;
    padding: 20px 15px;
}

.products .all_products .product{
    width: 150px;
    height: 250px;
    padding: 10px;
    box-shadow: 0px 0px 2px 1px var(--decoration_color);
    border-radius: 10px;
    flex-direction: column;
    transition: .3s;
    margin: 10px;
}

.products .all_products .product:hover {
    cursor: pointer;
    transform: scale(1.08);
    box-shadow: 0px 0px 2px 2px var(--decoration_color);
}

.products .all_products .product img {
    width: 100%;
    max-width: 150px;
    max-height: 140px;
}


.products .all_products .product .product_info{
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.products .all_products .product .product_info .delete_button{
    width: 40px;
}

.products .all_products .product .product_info .delete_button:hover {
    transform: scale(1.08);
}

/* R E S P O N SI V E */
@media screen and (max-width:860px) {
    .products{
        width: 100%;
    }
}